<div class="titleStyle" *ngIf="email">Logged in by {{email}}</div>

<button mat-flat-button class="backBtnStyle" color="warn" routerLink="/UserManagement">
  Back To User Managment
  <span class="material-icons">arrow_back</span>
</button>

<div class="chartContainerStyle">
  <div class="chartStyle">
    <label class="titleStyle">2023 Website Visits</label>

    <canvas id="websiteVisitsChart" >{{ websiteVisitsChart }}</canvas>
  </div>

  <div class="chartStyle">
    <label class="titleStyle">New Users vs. Time Spent on Platform (Feb 1-8, 2024)</label>
    
    <canvas  id="UsersChart" >{{ UsersChart }}</canvas>
  </div>

</div>